@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');

header {
    position: relative;
    background-color: black;
    height: 30vh;
    min-height: 30vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Hanalei Fill', cursive;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('../imgs/headerimg.jpg') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }