* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    /* background: #282828; */
}

::-webkit-scrollbar {
    width: 12px;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #282828;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

 ::-webkit-scrollbar-thumb:window-inactive {
    background: #282828;
}

@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
.header {
    background-image: url('../imgs/logo2.jpg');
    background-size: cover;
    font-family: 'Hanalei Fill', cursive;
    max-height: 150px;
    min-height: 150px;
    width: 100%;
    box-shadow: inset 0px 0px 5px 1px #0d010d;
}

.menu {
    background: #282828;
    height: fit-content;
    width: 100%;
    box-shadow: inset 0px 0px 5px 1px #0d010d;
}

.navbar {
    background-color: #282828;
    box-shadow: inset 0px 0px 5px 1px #0d010d;
}

.content {
    background: #282828;
    min-height: 100vh;
    width: 100%;
}