*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    background: #282828;
}
#userimg{
    margin-top: 30px;
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    border: 10px solid #fff;
}

